 html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    height: 100vh; 
  }

  .gridContainer {
    display: flex;
    justify-content: center;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    width: 80vh;
    height: 80vh;
  }

  #square {
    flex: 0 0 6.25%;
    border: 1px dashed black;  
  }